@import "../../styles/base";

.sidebar-brand > h1 {
    color: $d-blue;
    font-family: 'Open Sans' !important;
    font-size: 1.6em !important;
}

body {
    overflow-x: hidden;
}

.Home {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.Home.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #FFF;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.Home.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

.Home.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}


/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    height: 100%;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: $d-orange;
    font-family: 'Open Sans';
    padding: 10px 0;
    font-size: 1.3em;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #444;
    background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.pull-down {
    position: absolute;
    bottom: 10px;
}

@media(min-width:768px) {
    .Home {
        padding-left: 0;
    }
    .Home.toggled {
        padding-left: 250px;
    }
    #sidebar-wrapper {
        width: 0;
    }
    .Home.toggled #sidebar-wrapper {
        width: 250px;
    }
    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }
    .Home.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
