@import "../../styles/base";

body, html {
    margin: 0;
    padding: 0;
}

.loginWrapper {
    width: 100%;
    display: inline-block;
}

.login {
    width: 100%;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(#{$landing});
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    display: inline-block;
    min-height: 80vh;
}

@media (max-width: $screen-xs-max) {
    .login {
        background-size: auto 100%;
    }
}

.loginText {
    font-family: 'Raleway';
    font-size: 4.6em;
    padding: 10% 0 1% 0;
    text-align: center;
    color: $highlight;
}

.loginSubHeader {
    font-family: 'Raleway';
    font-size: 3em;
    padding: 0% 0 1% 0;
    text-align: center;
    color: white;
}

.loginForm {

    padding-bottom: 10%;

    label {
        color: $white;
        font-size: 1.6em;
    }

    .input {

    }

    button {
        margin-top: 5px;
        margin-right: 5px;
    }
}
