@import "../../styles/base";

.NavBar {
    display: inline-block;
    overflow: hidden;
    position: relative;
    width: 100%;
    background-color: $lowlight;

    .logo h1 {
        font-family: 'Raleway';
        font-size: 2.2em;
        margin: 0;
        padding: 10px 0px;
    }

    .navRow {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;

        div {
            position: relative;
            height: 100%;

            p {
                position: absolute;
                bottom: 0;
                right: 10%;
                font-family: 'Raleway';
                font-size: 1.4em;
                padding-bottom: 5px;

                &:hover {
                    cursor: pointer;
                    color: $white;
                }
            }

        }
    }

}
