//colours
$highlight: #2980B9;
$lowlight: #4995C7;
$accent: #22C476;
$grey: #95a5a6;
$white: #ecf0f1;

//fonts
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://fonts.googleapis.com/css?family=Roboto');


//img path
$img: "../../styles/img/";
$landing: $img + "meeting.jpg";

//variables
$screen-xs-max: 768px;
