@import "../../styles/base";

.form-label {
    font-family: 'Open Sans';
    margin-bottom: 10px;
}

.form-control {
    font-family: 'Open Sans';
}

.btn {
    font-family: 'Open Sans';
    margin-right: 10px;
}
