@import "../../styles/base";

.TeamSignUp {
    padding: 5% 20%;
    width: 100%;
    height: 100vh;

    .title {
        font-family: 'Raleway';
        text-align: center;
        font-size: 3.5em;
        color: white;
        margin: 10px;
    }
}

.grey {
    color: #aaa;

}
